body{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-image: url(./img/4K-Neon-City-Wallpaper-HD.png);
    object-fit: contain;
}
header{
    grid-column: 1/4;
}
.nav{
    font-family: 'Babylonica', cursive;
    font-family: 'Tourney', cursive;
    font-size: 400%;
    text-align: center;
    padding-top: 2%;
    color: antiquewhite;
}
#navbar{
    grid-column: 4/7;
    font-size: 120%;
    text-align: end;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-right: 10%;
}

.bar{
    font-size: 1.2rem;
    grid-column: 5/7;
    padding-top: 12%;
}
.nav-label , .nav-input{
    display: none;
}
#link{
    font-size: 100%;
    color: beige;
    background-color: rgba(137, 43, 226, 0);
    grid-column-end: 2;
    border: none;
}
#link:hover{
    background-color: crimson;
}
.sec1{
    grid-column: 1/ 4;
    grid-row-start: 2;
    grid-row-end: 9;
    background-image: url(./img/280-2809080_bass-guitars-wallpaper-bajo-electrico-fondos-de-pantalla.jpg);
    background-size: cover;
    border-radius: 10%;
}
#bajo{
    object-fit: fill;
    margin: 10% 10% 10% 20%;
    background-size: 100%;
}
.sec2{
    grid-column: 4/ 7;
    grid-row-start: 2;
    grid-row-end: 9;
    color: aliceblue;
}
#venta{
    text-align: center;
}
#akita{
    height: 60%;
    text-justify:distribute

}
.sec3{
    grid-column: 4/7;
    grid-row-start: 8;
    grid-row-end: 9;
    padding-top: 3%;
}
.sec4{
    grid-column: 6/7;
    grid-row-start: 8;
    grid-row-end: 9;
    padding-top: 16%;
}
.sec51{
    grid-column: 1/3;
    grid-row-start: 9;
    grid-row-end: 10;
    background-color: aquamarine;
}
.sec52{
    grid-column: 3/5;
    grid-row-start: 9;
    grid-row-end: 10;
}
.sec53{
    grid-column: 5/7;
    grid-row-start: 9;
    grid-row-end: 10;
    background-color: rgb(75, 23, 95);
}
#akita{
    text-align: center;
}
.opciones{
    justify-content: center;
}
#op{
    font-size: 1rem;
    color: aqua;
    border:none;
    border-radius: 3%;
    background-color: rgba(159, 84, 229, 0.822);
}
#op:hover{
    color:whitesmoke;
    background-color: black;
}
.click{
    justify-content: center;
}
.click:hover{ 
    color: coral;
    background-color: rgba(0, 0, 255, 0);
}

.sec52{
    display: flex;
    flex-direction: row;
}
#svg{
    width: 50%;
    height: 50%;
    padding-left: 20%;
    padding-top: 20%;
}
svg{
    fill: aliceblue;
}